:root {
    --border-color: hsl(0, 0%, 39%);
}

body {
    padding-top: 5rem;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 21%, 58%);
    padding: 1rem 7rem 0 7rem;
    border-radius: 2rem 2rem 0 0;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.profile-desc {
    display: flex;
    flex-direction: column;
}

.metrics {
    display: flex;
    flex-direction: row;
}