:root {
    --border-color: hsl(0, 0%, 39%);
    --font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

body {
    padding-top: 5rem;
    font-family: var(--font-family);
    box-sizing: border-box;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile-info {
    width: 30rem;
    text-shadow: 1px 1px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 21%, 58%);
    padding: 1rem 7rem 0 7rem;
    border-radius: 1rem 1rem 0 0;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    color: white;
}

.profile-desc {
    display: flex;
    width: 30rem;
    flex-direction: column;
    align-items: center;
    padding: 0 7rem 2rem 7rem;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.posts-container,
.following-container,
.followers-container {
    padding: 0 1rem;
}

.bio {
    align-self: center;
    padding-top: 1rem;
    text-align: left;
    width: 25rem;
}

.posts-val,
.following-val,
.followers-val {
    text-align: center;
    margin: 0;
    font-weight: 750;
}

.follow-btn {
    text-align: center;
    width: 10rem;
    padding: 0.3rem 3rem;
    font-weight: 700;

    border: none;
    border-radius: 0.7rem;
    background-color: hsl(300, 71%, 45%);
    color: white;
}