body {
    padding-top: 5rem;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(96, 93%, 43%);
    padding: 1rem 7rem 0 7rem;
    border-radius: 2rem 2rem 0 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}