{% extends "base.html" %}

{% block main %}
<div class="profile-info">
    <img src="{{ url_for('static', filename='ZrC Glitch.png')}} " alt="Profile Image of User" class="profile-pic">
    <p class="fullname">Ryan Cooper</p>
    <p class="username">@ZrC</p>
    <p class="location">Clarendon, Jamaica</p>
    <p class="join-date">{{ date_joined }}</p>
</div>
<div class="profile-desc">
    <p class="bio">
        Focused on developing Web Applications, Android Mobile Applications and
        software, in general, to the highest degree that I possibly can.
    </p>
    <div class="metrics">
        <div class="posts-container">
            <p class="posts-val">16</p>
            <p class="posts-title">Posts</p>
        </div>
        <div class="following-container">
            <p class="following-val">5</p>
            <p class="following-title">Following</p>
        </div>
        <div class="followers-container">
            <p class="followers-val">2001</p>
            <p class="following-title">Followers</p>
        </div>
    </div>
    <button class="follow-btn">Follow</button>
</div>
{% endblock %}